@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  font-family: Poppins;
  background: #1f242d;
/*  color: #ededed;*/
}
.header {
  position: fixed; 
  top: 50px;
  left: 0;
  width: 100%;
  padding 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  align-items: center;
  margin-top: 15px;
  padding: 0 10%;
  font-size: 25px; 
  color: #fff;
  text-decoration: none; 
  font-weight: 600;
  cursor: default;
}

.navbar a {
  font-size: 18px ;

  color: #fff;
  text-decoration: none;
  font-weight: 500;

  margin-right:100px;
  padding: 0;
  transition: .3s;
}
.navbar a:hover,
.navbar a.active {
  color: #0ef;
}

.home {
  background: url(https://scontent.fhan4-3.fna.fbcdn.net/v/t39.30808-6/470590205_901134085464181_5789276972349570963_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=127cfc&_nc_ohc=nspWa_-dYbAQ7kNvgHXOYkN&_nc_oc=AdjyfCA5Vazn1ekXMpXsWNOVpeiak1sS_a-Kw_Iy8g5SbCb8D1WLO1VYIIpTOf8yW_OJEn53IUM-mDaUs1LsSmQw&_nc_zt=23&_nc_ht=scontent.fhan4-3.fna&_nc_gid=AvVK1SFxLXDOofxb-fNGDE4&oh=00_AYCKB1GIyDZqxCyMuXFYMnP98Tws4P5ndQKpqndFgOg_mg&oe=67696A06);
  background-size: cover;
  background-position: left;
  font-family: Poppins;
  height: 97.5vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-content {
  max-width: 1000px;
}
.gi {
  margin-left: 150px;
  line-height: 5;
}
.home-content h1 {
  color: #fff;
  line-height: 0.3;
  font-size: 56px;
  font-weight: 700;
}
.home-content h3 {
  color: #FFFFFF;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
}
.home-content h3 span {
  color: #0ef;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
}

.home-content p {
  color: #FFFFFF;
  margin: 20px 0 40px;
  font-size: 16px;
}
.home-content .btn-box {
  line-height: 1.6;
  display: flex;
  justify-content: space-between;
  width: 750px;
  height: 50px;
  background: transparent;
}
.btn-box a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 100%;
  background: #1f242d;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  font-size: 19px;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}
.btn-box a:hover {
  color: #1f242d;
}

.btn-box a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fff;

  z-index: -1;
  transition: .5s;
}
.btn-box a:hover::before {
  width: 100%;
}